*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    overflow: hidden;
}

img {
    width: 18rem;
    box-shadow: 0px 0px 2px grey;
}

/* Main Section */
section#mainSection {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section a img {
    transition: 1s;
}


/* leftSection */
section#leftSection {
    width: 60%;
}

/* Two sections of  Left Section */
/* upperSection */
section#upperSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

section#upperSection a img {
    height: 18rem;
    width: 18rem;
    object-fit: contain;
    margin: 5px;
}

/* bottomSection */
section#bottomSection {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Bottom inner left */
section#bottomInnerLeft {
    width: 60%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#bottomInnerLeft a img {
    width: 34.5rem;
    height: 10rem;
    margin: 5px;
    object-fit: contain;
}

section#bottomInnerLeft a img:nth-child(1) {
    object-fit: cover;
    object-position: center;
}


/* Bottom inner Right */
section#bottomInnerRight {
    margin: 20px;
    width: 40%;
}

/* outer right section */
section#rightSection {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

section#rightSection a img {
    width: 38rem;
    height: 20rem;
    object-fit: cover;
    margin: 5px;
}

/* All Projects hover effect */
section a img:hover {
    transform: scale(0.8);
}