@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  font-family: 'Poppins', sans-serif;
}

div#main-container {
  width: 90%;
  padding: 5px 15px 5px;
  margin: 0 auto;
}

div#main-container #data h1 {
  font-size: 16px;
}

div#main-container #data p {
  text-align: justify;
}

div#main-container span {
  font-size: 1rem;
  font-weight: 900;
  color: #004455;
  transition: 1s;
}

div#main-container span:hover {
  color: darkgrey;
 }

div#main-container #links a i:hover {
  color: lightskyblue;
}

/* Logo container */
div#logo-container {
  margin: 0px 20px;
}


/* Profile section */
section {
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Profile image */
div#profile-image img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 10px grey;
}

div#summary {
  margin: 50px;
}


button {
  padding: 15px;
  margin-top: 30px;
  border-radius: 8px;
  transition: 0.5s;
}

button a {
  text-decoration: none;
  text-transform: uppercase;
}


button:hover {
  background-color: #004455;
  color: #fff;
  a {
    color: #fff;
  }
}

footer {
  background-color: lightblue;
  display: flex;
  justify-content: center;
}

/* Mobile display */
@media screen and (max-width: 480px) {

  /* main container */
  div#main-container {
    overflow: hidden;
  }

  section {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  /* Logo Container */
  div#logo-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }

  div#logo-container img {
    width: 50px;
  }

  div#main-container #links {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 20px;
  }

  div#main-container #links a i {
    font-size: 25px;
    color: #000;
    padding: 5px;
  }

  div#profile-image {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px;
  }

  div#profile-image img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
  }

  div#summary {
    width: 90%;
  }


  button {
    padding: 5px;

  }

  footer {
    padding: 10px;
  }
}

/* Medium devices / Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {

  div#logo-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  div#logo-container img {
    width: 90px;
  }

  div#profile-image {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;
  }

  div#profile-image img {
    width: 400px;
    display: block;
    margin: 0 auto;
  }

  div#main-container #links a i {
    font-size: 30px;
    color: #000;
    padding: 10px;
  }
  footer {
    position: relative;
    top: 37px;
  }
}

/* Desktops and Laptops */
@media only screen and (min-width: 769px) {
  body {
    overflow: hidden;
  }

  div#main-container {
    display: flex;
    height: 90vh;
  }
  section {
    display: flex;
    align-items: center;
  }

  div#logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60px;
  }

  div#logo-container img {
    width: 120px;
  }

  div#profile-image {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;
  }

  /*   Links   */
  div#links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div#main-container #links a i {
    font-size: 50px;
    color: #000;
    padding: 10px;
  }

  div#main-container span {
    font-size: 20px;
  }

  div#data {
    padding: 20px 100px 0px 0px;
  }

  div#main-container #data h1 {
    font-size: 35px;
  }

  footer {
    position: relative;
    top: 47px;
  }
}
