@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
body {
  font-family: 'Poppins', sans-serif;
}
div#main-container {
  width: 100%;
  padding: 5px 15px 5px;
  overflow: hidden;
}

div#main-container #data h1 {
  font-size: 20px;
}

div#main-container span {
  font-size: 1.7rem;
  color: lightskyblue;
}

div#main-container span:hover {
  text-decoration: underline;
}

div#main-container #links a i:hover {
  color: lightskyblue;
}

button {
  padding: 15px;
  margin-top: 30px;
  border-radius: 8px;
  transition: 1s;
}

button a {
  text-decoration: none;
  text-transform: uppercase;
}

button a:hover {
  color: #fff;
}

button:hover {
  background-color: #004455;
  color: #fff;
}

footer {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  /*     position: relative;
    top: 35px; */
}

/* Mobile display */
@media screen and (max-width: 600px) {
  /* Logo Container */
  div#logo-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }

  div#logo-container img {
    width: 90px;
  }

  div#main-container #links {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 20px;
  }

  div#main-container #links a i {
    font-size: 25px;
    color: #000;
    padding: 5px;
  }

  div#profile-image {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;
  }

  div#profile-image img {
    width: 300px;
    display: block;
    margin: 0 auto;
  }

  footer {
    padding: 10px;
    position: relative;
    top: 300px;
  }
}

/* Medium devices / Tablets */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  div#logo-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  div#logo-container img {
    width: 90px;
  }

  div#profile-image {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;
  }

  div#profile-image img {
    width: 400px;
    display: block;
    margin: 0 auto;
  }

  div#main-container #links a i {
    font-size: 30px;
    color: #000;
    padding: 10px;
  }
  footer {
    position: relative;
    top: 37px;
  }
}

/* Desktops and Laptops */
@media only screen and (min-width: 769px) {
  div#main-container {
    display: flex;
    height: 90vh;
  }
  section {
    display: flex;
    align-items: center;
  }
  div#logo-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    justify-content: space-between; */
    align-items: center;
    height: 60px;
  }

  div#logo-container img {
    width: 120px;
  }

  div#profile-image {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;
  }

  div#profile-image img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  /*   Links   */
  div#links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div#main-container #links a i {
    font-size: 50px;
    color: #000;
    padding: 10px;
  }

  div#data {
    padding: 20px 100px 0px 0px;
  }
  footer {
    position: relative;
    top: 47px;
  }
}
